/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			waifu (ohg odwhata midoi n.g.x style)
	Based on style:     jank
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		artif Limited ( https://www.mtglitch.com/ )
    --------------------------------------------------------------
*/

.site-description {
	height: 162px;
	position: relative;
	width: 100%;
}
.site-description img {
	height: 162px;
	position: absolute;
}
.logo {
	width: 0px;
}
.site_logo {
	height: 0px;
	width: 0px;
}

.logo img {
	width: 144px;
	left 0px;
}
.doragon img {
	width: 294px;
	left: 144px;
	top: 0px;
}
.azuki img {
	width: 202px;
	right: 210px;
	top: 0px;
}
.michiru {
	right: 0px;
	top: 0px;
}
	


.forums dl.row-item dt .list-inner {
	padding-left: 85px;
}

.youtube-player:hover .play {
      background: url("https://i.imgur.com/CyeDtWT.gif") no-repeat;
	  bottom: 0px;
	  height: 193px;
	  left: 34%;
	  margin-top: 0;
	  top: auto;
	  transition-property: none;
	  width: 278px;
}

.forum_read							{ background-image: url("./images/forum_read.png");   height: 64px;  }
.forum_read_subforum				{ background-image: url("./images/forum_read.png");   height: 64px;  }
.forum_unread						{ background-image: url("./images/forum_unread.png"); height: 64px;  }
.forum_unread_subforum				{ background-image: url("./images/forum_unread.png"); height: 64px;  }