/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			lemon robot (the default mtglitch 3.2.x style)
	Based on style:
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		artif Limited ( https://www.mtglitch.com/ )
    --------------------------------------------------------------
*/
html, body { background-color: #f8ffd4; }

.headerbar {
	background: #ffffac;
	border: 1px solid #000;
	border-radius: 0px;
	height: 161px;
	margin-bottom: 0px;
	padding: 0px;
}

.navbar { 
  background-color: #fff;
  border-radius: 0px;
  padding: 0px;
}

.nav-main { 
  background-color: #ffffc0;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.logo { 
 padding: 0px;
}

.site_logo {
	background-image: url("./images/robot.png");
    height: 161px;
	width:  428px;
}

.postbody {
	float: right;
}
.postprofile { 
    float: left;
    border-width: 0 1px 0 0;
}
.post {
	border-radius: 0px;
	border: 1px solid black;
}
.bg1, .bg2 {
	background-color: #fff;
}

.pagination {
	float: left;
	margin-top: 5px;
}

.action-bar .button {
	float: right;
}
.action-bar .search-box {
	float: right;
}
.action-bar .button-search {
	float: left !important;
}

.action-bar .dropdown-container {
	float: right;
}

.forabg { 
 background: #ffffac;
 color: #000;
 font-size: 11px;
 font-weight: bold;
 padding: 0;
 border: 1px solid black;
 border-radius: 0px;
}

ul.forums { 
 background: #fff;
}



li.row {
	border-top: 1px solid black;
	border-bottom: none;
}


li.header dt, li.header dd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 1.5px;
	text-transform: none;
}

li.header dt, li.header dd {
	color: #000;
}

a.forumtitle {
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	letter-spacing: normal;
	text-decoration: underline;
}
	
ul.topiclist li {
 color: #000;
}

.forumbg .header a, .forabg .header a, th a {
	color: #000;
}

.list-inner a {
	font-size: 11px;
}

.list-inner {
	font-size: 10px;
}

.forum_read         				{ height: 75px; background-image: url("./images/forum_read.gif"); }
.forum_read_subforum				{ background-image: url("./images/forum_read.gif"); }
.forum_unread						{ background-image: url("./images/forum_unread.gif"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread.gif"); }